

	.spotlights > section > .image:before {
		opacity: 0 !important;
	}

	.spotlights > section > .content > .dentro {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		opacity: 1 !important;
	}

/* Wrapper */

	.contenitore > .dentro {
		opacity: 1 !important;
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
	}

/* Sidebar */

	#barralato > .dentro {
		opacity: 1 !important;
	}

	#barralato nav > ul > li {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		opacity: 1 !important;
	}